{% set langobj = grav['language'] %}
<div class="langswitcher">
	<div class="lang-menu">
		<ul>
			<li>
				<a>{{  langswitcher.current }}</a>
				<ul class="sub-menu">
					{% for key in langswitcher.languages %}

					    {% if key == langswitcher.current %}
					        {% set lang_url = page.url %}
					        {% set active_class = 'current-menu-item' %}
					    {% else %}
					        {% set lang_url = base_url_simple ~ langobj.getLanguageURLPrefix(key)~langswitcher.page_route ?: '/' %}
					        {% set active_class = '' %}
					    {% endif %}

					    <li class="{{ active_class }}"><a href="{{ lang_url ~ uri.params }}">{{  native_name(key)|capitalize }}</a></li>

					{% endfor %}
				</ul>
			</li>
		</ul>
	</div>
</div>
