{% embed 'partials/base.html.twig' %}

	{% set collection = page.collection() %}

	{% block content %}
		{% if config.plugins.breadcrumbs.enabled %}
			{% include 'partials/breadcrumbs.html.twig' %}
		{% endif %}
		{% if page.content|trim('') != '' %}
		<header class="page-header">
			<h1 class="page-title">{{ 'THEME_NUCLEARE.BLOG.CATEGORY'|t }}: {{ page.title }}</h1>
			<div class="taxonomy-description">
				{{ page.content|raw }}
			</div>
		</header>
		{% endif %}
		{% if uri.param('category') or uri.param('tag') %}
		<header class="page-header">
			<h1 class="page-title">{{ uri.param('category') ? 'THEME_NUCLEARE.BLOG.CATEGORY'|t ~ ': ' ~ uri.param('category') : 'THEME_NUCLEARE.BLOG.TAG'|t ~ ': ' ~ uri.param('tag') }}</h1>
		</header>
		{% endif %}
		{% for child in collection %}
	        {% include 'partials/blog_item.html.twig' with {'blog':page, 'page':child, 'truncate':true} %}
	    {% endfor %}

	    {% if config.plugins.pagination.enabled and collection.params.pagination %}
	        {% include 'partials/pagination.html.twig' with {'base_url':page.url, 'pagination':collection.params.pagination} %}
	    {% endif %}
    {% endblock %}
{% endembed %}


