{% extends 'partials/base.html.twig' %}

{% block content %}
	<article class="post hentry published">
		<header class="entry-header"></header>
		<div class="entry-content">
			{{ page.content|raw }}
		</div>
		<footer class="entry-footer"></footer>
	</article>
{% endblock %}
